/* General styles */
body {
  background-image: url('background image.avif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

h1 {
  color: purple;
  font-size: 36px;
  margin-bottom: 20px;
}

h2, h3, p {
  color: #666;
}

button {
  background-color: purple;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: plum;
}

ol {
  list-style-type: none;
  padding: 0;
}

/* Quiz container styles */
#quiz-container {
  display: none;
}

#quiz-container.show {
  display: block;
}

#question-container {
  /* background-color: #f9f9f9; */
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.option {
  background-color: plum;
  color: white;
  padding: 15px 30px;
  margin-top: 10px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
}

.option:hover {
  background-color: purple;
}

#explanation {
  margin-top: 20px;
  font-style: italic;
  font-size: 16px;
  color: #777;
}

#time {
  font-size: 32px;
  font-weight: bold;
  color: purple;
  margin-top: 20px;
}

/* Entry container styles */
#entry-container {
  text-align: center;
  margin-bottom: 20px;
}

#entry-container input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 10px;
}

/* Leaderboard styles */
#leaderboard-container {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  text-align: left;
}

#leaderboard-list {
  list-style-type: none;
  padding: 0;
}

#leaderboard-list li {
  padding: 10px;
  margin-bottom: 5px;
  background-color: plum;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-size: 18px;
}
